<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286394407264-48nf0r6bm6ope4cg4turcj2i7lb5k2gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286394407264-48nf0r6bm6ope4cg4turcj2i7lb5k2gh</string>
	<key>API_KEY</key>
	<string>AIzaSyAwpu6doWCuef7YpjeUl43vpz84PUM2bwg</string>
	<key>GCM_SENDER_ID</key>
	<string>286394407264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiendaonline</string>
	<key>PROJECT_ID</key>
	<string>proyectoluis-f7b29</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoluis-f7b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286394407264:ios:390d179923e125c5bce605</string>
</dict>
</plist>